@tailwind base;
@tailwind components;
@tailwind utilities;

.list-divider::after {
  content: '|';
  color: gray;
  padding-left: 28px;
  padding-right: 0px;
}

.fab {
  color: #24292e; /* Github and LinkedIn color */
}

.fas {
  color: #0078d4; /* Email color */
}

